body { 
    overflow: hidden;
}
#left {
    float: left;
    display: inline;
    width: 20%;
    height: 99%;
    overflow: scroll;
    scrollbar-width: none;
}
#right {
    float: left;
    display: inline;
    width: 79%;
    height: 99vh;
    overflow: hidden;
}
#file {
    width: 98%;
    height: 69vh;
}
#term {
    height: auto;
    overflow: hidden;
    scrollbar-width: none;
}
#out {
    width: 98%;
    height: 18vh;
    overflow: scroll;
    scrollbar-width: none;
}
#in {
    width: 98%;
    height: auto;
    bottom: 0;
    right: 0;
    overflow: wrap;
    scrollbar-width: none;
}