body { 
    overflow: hidden;
    display: flex;
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
    cursor: row-resize;
}
#left {
    /* float: left;
    display: inline; */
    width: 20%; 
    height: 99vh;
    overflow: none;
}
#dir {
    height: 90%;
    overflow: scroll;
    scrollbar-width: none;
}
button {
    margin: 1vh;
    min-height: 4vh;
    border-style: none;
}
#right {
    /* float: left;
    display: inline; */
    /* display: flex; */
    width: 79%;
    height: 99vh;
    overflow: hidden;
}
#file {
    width: 98%;
    height: 69vh;
    overflow: scroll;
}
.cm-editor { height: 100%; }
#term {
    height: auto;
    overflow: hidden;
    scrollbar-width: none;
}
#out {
    width: 98%;
    height: 18vh;
    overflow: scroll;
    scrollbar-width: none;
}
#in {
    width: 98%;
    height: auto;
    bottom: 0;
    right: 0;
    overflow: wrap;
    scrollbar-width: none;
}
